@import url("https://fonts.googleapis.com/css2?family=Underdog&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Underdog;
    font-weight: normal;
    color: #ffffff;
}
.burger_menu{
    position: fixed;
    right: -1000px;
    top: 100px;
    max-width: 343px;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all .4s;
    z-index: -1;
}

.burger_active{
    right: 0;
    opacity: 1;
    z-index: 1;
}
.burger_content{
    max-width: 343px;
    width: 100%;
    background: #F5E2CF;
    height: 249px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 36px;
    position: relative;
}
.burger_link{
    text-decoration: none;
    color: #000000;
    font-size: 24px;
    /* padding: 20px 0; */
    transition:  all .3s;
    margin-bottom: 20px;
}
.burger_link:hover{
    background: rgba(221, 171, 95, 1);
}
.burger_close_btn{
    font-size: 40px;
    cursor: pointer;
    color: #fff;
    position: absolute;
    right: 20px;
    top: 20px;
}
.burger_bg{
    position: fixed;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: -1;
}
.login_btn-burger {
    border: 3px solid #DDAB5F;
    box-sizing: border-box;
    border-radius: 10px;
    background: none;
    font-family: Underdog;
    font-weight: normal;
    font-size: 12px;
    width: 110px;
    height: 40px;
    padding: 13px 36px;
    color: #000000;
    display: flex;
    align-items: center;
    display: none;
    text-decoration: none;
}
.registr_btn-burger {
    box-sizing: border-box;
    border-radius: 10px;
    background: #DDAB5F;
    font-family: Underdog;
    font-weight: normal;
    font-size: 12px;
    width: 110px;
    height: 40px;
    padding: 13px 18px;
    color: #000000;
    display: flex;
    align-items: center;
    display: none;
    margin-left: 10px;
    text-decoration: none;
}
.burger_buttons{
    display: flex;
    margin-bottom: 22px;
}
.login_btn-burger img{
    margin-left: 6px;
}
.header_block {
    width: 100%;
    height: 100px;
    background: rgba(221, 171, 95, 1);
    padding: 15px 7%;
    display: flex;
}
.logo_white {
    display: none;
}
.navbar {
    display: flex;
    margin-top: 26px;
    margin-left: 5vw;
    /* justify-content: space-around; */
    /* max-width: 600px;
    width: 100%; */
}
.navbar_item {
    margin-right: 7vw;
    font-family: Underdog;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    text-decoration: none;

}
.login_btn {
    border: 3px solid #f5e2cf;
    box-sizing: border-box;
    border-radius: 10px;
    background: none;
    font-family: Underdog;
    font-weight: normal;
    font-size: 18px;
    width: 149px;
    text-decoration: none;

    height: 57px;
    position: absolute;
    right: calc(183px + 7%);
    top: 22px;
    padding: 18px 44px;
    color: #000000;
    display: flex;
    align-items: center;
}
.registr_btn {
    border: 3px solid #f5e2cf;
    box-sizing: border-box;
    border-radius: 10px;
    background: rgba(245, 226, 207, 1);
    font-family: Underdog;
    font-weight: normal;
    text-decoration: none;

    font-size: 18px;
    width: 167px;
    height: 57px;
    position: absolute;
    right: 7%;
    top: 22px;
    padding: 18px 21px;
    color: #000000;
    display: flex;
    align-items: center;
}
.login_btn img,
.registr_btn img {
    margin-left: 10px;
}
.login_btn:hover {
    cursor: pointer;
}
.burger {
    position: absolute;
    right: 7%;
    top: 28px;
    display: none;
}
.burger:hover {
    cursor: pointer;
}


form {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -100vh;
    left: 27vw;
    background: rgba(60, 60, 60, 0.25);
    padding: 50px 68px;
    border-radius: 20px;
    text-align: center;
}

.form {
    position: relative;
}

.login_title {
    font-size: 48px;
}

input {
    outline: none;
    border: none;
    width: 500px;
    height: 60px;
    margin-top: 26px;
    border-radius: 10px;
    padding: 24px;
}

.forget_password {
    font-size: 18px;
    text-align: center;
    margin-top: 18px;
}

.forget_password>a {
    font-size: 18px;
}

.login_button {
    background: #ddab5f;
    border-radius: 10px;
    width: 300px;
    height: 68px;
    font-size: 28px;
    border: none;
    outline: none;
    margin-left: 100px;
    margin-top: 40px;
    margin-bottom: 12px;
}

.bg {
    width: 100%;
}
.bg2{
    display: none;
    width: 100%;
}
.bg3{
    display: none;
    width: 100%;
}

.container{
    padding: 0 7%;
}
footer {
    width: 100%;
    height: 460px;
    background: rgba(221, 171, 95, 1);
    margin-top: -5px;
    position: relative;
}

.form_checkin {
    top: -114vh;
}

.password_text {
    font-size: 14px;
    text-align: left;
    margin-top: 10px;
}
.navbar_ {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}
.navbar_column{
    display: flex;
    flex-direction: column;
}
.navbar_column:last-child{
    padding-right: 7%;
}
.navbar__item {
    font-size: 24px;
    color: #000000;
    margin-top: 16px;
    text-decoration: none;
    
}
.bg4{
    width: 100%;
    display: none;
}
.navbar__column:first-child{
    margin-left: 1px;
}
.navbar__item:hover {
    cursor: pointer;
}
.navbar__item:nth-child(5){
    position: absolute;
    left: 7%;
    bottom: 44px;
}
.social{
    position: absolute;
    right: 7%;
    bottom: 48px;
}
.icons {
    margin-top: 30px;
    margin-left: -20px;
}
.icon {
    margin-left: 26px;
}
@media(max-width: 1600px) and (min-width: 1400px){
    .form_checkin{
        top: -93vh;
        left: 30vw;
    }
}
@media(max-width: 1200px) {
    .navbar_item {
        margin-left: 5vw;
        margin-right: 0;
        font-size: 15px;
    }
    .navbar{
        margin-left: -3vw;
    }
    form {
        left: 18%;
        top: -86vh;
    }
    .form_checkin {
        left: 18%;
        top: -91vh;
        padding: 30px 40px;
    }
    .login_title{
        font-size: 40px;
    }
    input{
        height: 50px;
    }
    .navbar__item {
        font-size: 16px;
    }
    .icons {
        margin-left: -40px;
    }
    
}

@media(max-width: 992px) {
    .bg{
        display: none;
    }
    .bg3{
        display: flex;
    }
    .navbar {
        margin-left: -2vw;
    }
    .navbar_item {
        margin-left: 3vw;
        margin-right: 0;
        font-size: 13px;
    }
    .login_btn {
        font-size: 16px;
        width: 120px;
        height: 48px;
        right: calc(7% + 150px);
        padding: 16px 34px;
    }
    .registr_btn {
        font-size: 16px;
        width: 140px;
        height: 48px;
        padding: 16px 16px;
    }
    .login_btn img,
    .registr_btn img {
        margin-left: 6px;
    }
    form {
        left: 26%;
        top: -140vh;
    }
    .form_checkin {
        left: 26%;
        top: -140vh;
    }
    .login_title {
        font-size: 30px;
    }
    input {
        width: 300px;
        height: 40px;
    }
    .forget_password {
        font-size: 14px;
        margin-top: 10px;
    }
    .forget_password>a {
        font-size: 14px;
    }
    .login_button {
        width: 200px;
        height: 50px;
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 7px;
        margin-left: 50px;
    }
    .navbar_{
        margin-left: 0;
    }
    .navbar__item {
        font-size: 14px;
    }
    .icons {
        display: flex;
        margin-left: -40px;
    }
}

@media(max-width: 768px) {
    .bg, .bg3{
        display: none;
    }
    .bg2{
        display: flex;
    }
    .logo_white {
        display: flex;
    }
    .navbar{
        display: none;
    }
    .logo_black {
        display: none;
    }
    .login_btn {
        width: 120px;
        height: 49px;
        font-size: 14px;
        padding: 12px 34px;
        right: calc(145px + 22%);
    }
    .registr_btn {
        width: 131px;
        height: 49px;
        font-size: 14px;
        padding: 12px 10px;
        right: 22%;
    }
    .burger {
        display: flex;
    }
    .burger img {
        width: 80%;
    }
    .form {
        left: -4%;
        top: -20vh;
        padding: 30px 40px;
    }
    form{
        background: none;
        left: 20%;
        top: -70vh;

    }
    .form_checkin {
        left: 24%;
        top: -80vh;
        padding: 30px 40px;
    }
    .login_title {
        font-size: 24px;
    }
    input {
        width: 300px;
        height: 40px;
    }
    .forget_password {
        font-size: 10px;
        margin-top: 10px;
    }
    .forget_password>a {
        font-size: 10px;
    }
    .login_button {
        width: 200px;
        height: 50px;
        font-size: 16px;
        margin-top: 20px;
        margin-bottom: 7px;
        margin-left: 50px;
    }
    .navbar__item {
        font-size: 16px;
        margin-top: 6px;
    }
    
    .navbar_column:nth-child(3){
        position: absolute;
        top: 180px
    }
    .navbar_column:nth-child(4){
        position: absolute;
        top: 180px;
        left: 50vw;
    }
    .navbar_column:nth-child(2){
        position: absolute;
        top: 50px;
        left: 50vw;
    }
    .social{
        left: 56vw;
        bottom: 20px;
    }
    footer {
        margin-top: -70px;
        position: relative;
    }
    
}
@media (max-width: 576px){
    .registr_btn-burger, .login_btn-burger{
        display: flex;
    }
    .burger_menu{
        top: 70px;
        max-width: 255px;
    }
    .burger_content{
        max-width: 255px;
        padding-left: 20px;
        padding-top: 12px;
    }
    .burger_link{
        font-size: 18px;
    }
    .header_block{
        height: 70px;
    }
    .burger{
        top: 18px;
        right: 0;
    }
    .bg4{
        display: flex;
    }
    .bg, .bg2, .bg3{
        display: none;
    }
    .registr_btn, .login_btn{
        display: none;
    }
    
    form{
        left: 50%;
        transform: translateX(-50%);
        top: -50vh;
        padding: 50px 0;
    }
    .form_checkin{
        /* top: -350px;
        left: 0; */
        top: -54vh;
        left: 50%;
        transform: translateX(-50%);
    }
    .login_title{
        font-size: 18px;
    }
    input{
        min-width: 235px;
        width: 100%;
        height: 36px;
    }
    .password_text{
        font-size: 10px;
    }
    .login_button{
        width: 132px;
        height: 36px;
        font-size: 12px;
    }
    footer{
        height: 242px;
    }
    .navbar__item {
        font-size: 10px;
        margin-left: 10px;
    }
    .icon img{
        width: 80%;
    }
    .icon{
        margin-left: 16px;
    }
    .navbar_ {
        margin-left: 0px;
        padding-top: 10px;
    }
    .navbar_column:nth-child(2) {
        top: 10px;
        left: 44vw;
    }
    .navbar_column:nth-child(3) {
        top: 100px;
    }
    .navbar_column:nth-child(4) {
        top: 100px;
    }
    .navbar__item:nth-child(5) {
        position: absolute;
        left: 7%;
        bottom: 20px;
        width: 50px;
    }
    .social{
        bottom: 6px;
    }
    .icons{
        margin-top: 10px;
    }
}