* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Underdog", cursive;
}

.body {
    font-family: "Ruslan Display", cursive;
}

.nav {
    max-width: 1600px;
    width: 100%;
    height: 100px;
    background: #818181;
}
.bg__author {
    background-image: url(/images/author__bg-author.svg);
    background-repeat: no-repeat;
    max-width: 1600px;
    width: 100%;
    height: 900px;
    position: relative;
}
.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.author__text-title {
    color: #fff;
    font-size: 100px;
    position: absolute;
    top: 45%;
    left: 37%;
}

.popular__title {
    margin-top: 100px;
    margin-bottom: 48px;
}

.popular__title-text {
    font-size: 75px;
}
.popular__boxs {
    display: flex;
}
.popular__box-user {
    position: relative;
}

.about__author {
    position: absolute;
    color: #fff;
    top: 62%;
    left: 22px;
}
.name__users {
    font-weight: normal;
    font-size: 36px;
    color: #ffffff;
    font-family: Ruslan Display;
    line-height: 86%;
}

.about__users {
    font-family: Ruslan Display;
    font-size: 14px;
    line-height: 20px;
}
.popular__img {
    width: 285px;
    height: 270px;
    border: 3px solid #000000;
    border-radius: 33px;
}

.popular__box {
    width: 285px;
    height: 270px;
    background: #f5e2cf;
    border: 3px solid #000000;
    border-radius: 33px;
}

.popular__name {
    display: flex;
    align-items: center;
    font-size: 22px;
    width: 98%;
    text-align: center;
    margin-top: 100px;
}

.popular__box-deg {
    transform: rotate(-6.02deg);
}

.popular__links {
    margin-top: 20px;
}

.populars__blocks {
    display: flex;
}

.popular__link {
    font-size: 34px;
    color: #000;
}

.popular__symbol {
    display: flex;
    flex-direction: column;
}

.popular__allauthor {
    margin-left: 30px;
    font-size: 36px;
    color: #000;
}

.popular__arrows {
    display: flex;
    margin-top: 200px;
    margin-left: 40px;
}
.arrow {
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.arrow__deg {
    margin-left: 20px;
    transform: rotate(180deg);
}

.popular__circles {
    display: flex;
    align-items: center;
    margin-top: 230px;
    margin-left: 40px;
}
.popular__circle-big {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #000;
    cursor: pointer;
}
.popular__circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #000;
    margin-left: 10px;
    cursor: pointer;
}
.all {
    margin-top: 245px;
}

.all__title {
    font-size: 96px;
    margin-bottom: 40px;
}
.all__search {
    display: flex;
}
.all__input {
    border: none;
    outline: none;
    width: 642px;
    height: 59px;
    font-size: 20px;
    background: #f5e2cf;
}

.all__search-icon {
    width: 60px;
    height: 60px;
    background: #f5e2cf;
    cursor: pointer;
}

.search-icon {
    margin-top: 10px;
    margin-left: 10px;
}
.all__blocks {
    margin-top: 40px;
}
.all__block {
    width: 950px;
    height: 110px;
    background: #f5e2cf;
    border: 3px solid #000000;
    border-radius: 20px;
}

.all__block-text {
    font-size: 36px;
    margin-top: 10px;
    margin-left: 10px;
}

.all__block-p {
    font-size: 18px;
    margin-left: 10px;
}

.all__block-name {
    font-size: 24px;
    margin-left: 76%;
}

.all__block-grey {
    width: 950px;
    height: 100px;
    background: #cecece;
    border-radius: 20px;
}
.all__block-white {
    width: 950px;
    height: 100px;
    background: rgba(129, 129, 129, 0.2);
    border-radius: 20px;
}

.all__symbols-arrows {
    margin-top: 220%;
    margin-left: 30px;
    display: flex;
}
.all__content {
    display: flex;
}

.footer {
    margin-top: 125px;
    width: 1600px;
    width: 100%;
    height: 484px;
    background: #ddab5f;
}
