* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-family: "Ruslan Display", cursive;
}

body {
  font-family: "Ruslan Display", cursive;
}
.container {
  padding: 0 5%;
}

.nav {
  max-width: 1600px;
  width: 100%;
  height: 125px;
  background: #ddab5f;
}

.author__bg {
  background-image: url(/images/author__bg.svg);
  max-width: 1600px;
  width: 100%;
  height: 422px;
  position: relative;
}

.author__name {
  position: absolute;
  bottom: 30px;
  left: 30%;
  font-style: normal;
  font-weight: normal;
  font-size: 96px;
  line-height: 85.5%;
  text-transform: uppercase;

  color: #ffffff;
}

.author__status {
  background: #f5e2cf;
  display: flex;
  align-items: center;
}

.author__circle {
  position: absolute;
  bottom: 0%;
  left: 5%;
  width: 315px;
  height: 315px;
  background: #888888;
  border-radius: 50%;
}
.author__status-title {
  display: flex;
  padding: 20px 0;
  margin-left: 30%;
  align-items: center;
}

.author__status-texts {
  text-align: center;
  margin-right: 50px;
  border-bottom: 3px solid transparent;
}
.author__status-texts:hover {
  border-bottom: 3px solid #000;
  cursor: pointer;
  border-radius: 5px;
}

.author__status-text {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 85.5%;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.author__status-quantity {
  font-size: 35px;
  margin-top: 5px;
}

.author__status-btn {
  background: #ddab5f;
  width: 250px;
  height: 66px;
  border-radius: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 85.5%;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.reviews {
  margin-top: 125px;
}

.reviews__all {
  display: flex;
}
.reviews__title {
  font-size: 64px;
  line-height: 85.5%;
  text-transform: uppercase;
  margin-bottom: 55px;
}

.reviews__block {
  display: flex;
}
.reviews__box {
  width: 310px;
  height: 200px;
  background: #f5e2cf;
  border: 3px solid #000000;
  border-radius: 20px;
  padding: 32px 25px;
}

.reviews__box-offers {
  font-weight: normal;
  font-size: 15px;
  line-height: 85.5%;
  text-transform: uppercase;
  margin-bottom: 70px;
}

.reviews__box-author {
  font-weight: normal;
  font-size: 22px;

  margin-left: 18px;
}

.reviews__box-brown {
  width: 310px;
  height: 200px;
  background: #d7b98d;
  border: 3px solid #000000;
  border-radius: 20px;
  padding: 32px 25px;
  transform: rotate(5deg);
}

.reviews__box-grey {
  background: #cecece;
  width: 310px;
  height: 200px;
}
.reviews__box-white {
  background: rgba(129, 129, 129, 0.2);
  width: 310px;
  height: 200px;
}

.reviews__symbol {
  position: relative;
}
.reviews__arrows {
  position: absolute;
  top: 40%;
  display: flex;
  margin-left: 70px;
}
.arrow {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.reviews__arrows-left {
  margin-right: 45px;
}

.arrow__right {
  transform: rotate(180deg);
}

.reviews__circles {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  margin-left: 70px;
}

.reviews__circle-big {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #000;
    margin-right: 10px;
    cursor: pointer;
}

.reviews__circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #000;
  margin-right: 10px;
  cursor: pointer;
}



.footer {
  margin-top: 146px;
  width: 1600px;
  width: 100%;
  height: 484px;
  background: #ddab5f;
}
